{% csrf_token %}
{% for field in form.visible_fields %}
  <div class="row">
    {% if field == form.checked_out or field == form.is_donated %}
      <div class="small-2 columns">
        <label class="right inline">{{ field.label }}</label>
      </div>
      <div class="small-10 columns">
        <fieldset class="switch radius" tabindex="0">
          <input id="{{ field.id_for_label }}" name="{{ field.name }}" type="checkbox" {% if field.value == True %}checked{% endif %}>
          <label for="{{ field.id_for_label }}"></label>
        </fieldset>
      </div>
    {% else %}
      <div class="row collapse prefix-radius">
        <div class="small-2 columns">
          <span class="prefix">{{ field.label }}</span>
        </div>
        <div class="small-10 columns">
          {{ field }}
          {% if field.errors %}
            {% for error in field.errors %}
              <small class="error">{{ error }}</small>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
{% endfor %}
