{% extends 'base_books.html' %}
{% block title %}Checkout {{ book.title }}{% endblock %}
{% block content %}
<h1>Checkout <small>{{ book.title }}</small></h1><form method="POST" action="{% url 'checkout' book.id %}">
    {% include "books/_form.html" %}
    <div class="row">
      <ul class="button-group radius right">
        <li><a class="button info" href="{% url 'show' book.id %}">Back</a></li>
        <li><input type="submit" class="button radius" value="Checkout"/></li>
      </ul>
    </div>
  </form>
{% endblock %}
