{% extends "base_books.html" %}
{% block title %} Edit {{ book.title }}{% endblock title %}

{% block content %}
  <h1>Edit <small>{{ book.title }}</small></h1>
  <form method="POST" action="{% url 'update' book.id %}">
    {% include "books/_form.html" %}

    <div class="row">
      <ul class="button-group radius right">
        <li><a class="button info" href="{% url 'show' book.id %}">Show</a></li>
        <li><input type="submit" class="button radius" value="Update Book"/></li>
      </ul>
    </div>
  </form>

{% endblock content %}
