{% extends "base_books.html" %}
{% block title %}Books in my library{% endblock title %}

{% block content %}
    <h1>My Books</h1>
    <div class="clearfix">
        <div id="tile_container">
            {% for book in books %}
                <div class="tile">
                    {% if book.checked_out %}
                        <div class="corner-ribbon top-right">Checked Out</div>
                    {% endif %}
                    <a href="{% url 'show' book.id %}">
                        <img src="{{ book.image_url }}"/>

                        <div style="text-align: center;">{{ book.title }}</div>
                    </a>
                    {% if not book.checked_out %}
                        <a href="{% url 'checkout' book.id %}" class="button radius small">Available</a>
{#                        <form method="POST" action="{% url 'checkout' book.id %}">#}
{#                            {% csrf_token %}#}
{#                            <input type="submit" class="button radius small" value="Checkout"/>#}
{#                        </form>#}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="pagination-centered">
        <ul class="pagination" role="menubar" aria-label="Pagination">
            {% if books.has_previous %}
                <li class="arrow" aria-disabled="true">
                    <a href="{% url 'index' books.previous_page_number %}">
                        &laquo;Previous
                    </a>
                </li>
                <li>
                    <a href="{% url 'index' books.previous_page_number %}">
                        {{ books.previous_page_number }}
                    </a>
                </li>
            {% endif %}
            <li class="current"><a href="{% url 'index' books.number %}">{{ books.number }}</a></li>
            {% if paginator.num_pages > 3 %}
                <li><a href="{% url 'index' books.next_page_number %}">{{ books.next_page_number }}</a></li>
                <li aria-disabled="true">
                    <a href="{% url 'index' books.next_page_number %}">&hellip;</a>
                </li>
            {% endif %}
            {% if books.has_next %}
                <li class="arrow"><a href="{% url 'index' books.next_page_number %}">Next &raquo;</a></li>
            {% endif %}
        </ul>
    </div>
    <ul class="button-group radius right">
        <li><a class="button info" href="{% url 'new' %}">New Book</a></li>
    </ul>
{% endblock content %}

{% block scripts %}
    $(".container").hide()
    var container = document.querySelector('#tile_container');
    imagesLoaded(container, function () {
    $(".container").show()
    var msnry = new Masonry( container, {
    columnWidth: 200,
    itemSelector: '.tile'
    });
    });
{% endblock scripts %}
