{% extends "base_books.html" %}
{% block title %}New Book{% endblock title %}

{% block content %}
  <h1>Create A New Book</h1>
  <form method="POST" action="{% url 'create' %}">
    {% include "books/_form.html" %}
    <div class="row">
      <ul class="button-group radius right">
        <li><a class="button info" href="{% url 'index' %}">Back</a></li>
        <li><input type="submit" class="button radius" value="Create Book"/></li>
      </ul>
    </div>
  </form>
{% endblock content %}
