{% extends "base_books.html" %}
{% block title %}{{ book.title }}{% endblock title %}

{% block content %}
    <h1>{{ book.title }}</h1>
    <div class="clearfix">
        <div class="book_image_container large-5 columns">
            {% if book.checked_out %}
                <div class="corner-ribbon top-right">Checked Out</div>
            {% endif %}
            <img src="{{ book.image_url }}"/>
        </div>
        <table class="large-7 columns" style="border: none;">
            <tr>
                <td style="text-align:right">Author:</td>
                <td>{{ book.author }}</td>
            </tr>
            <tr>
                <td style="text-align:right">Publisher:</td>
                <td>{{ book.publisher }}</td>
            </tr>
            <tr>
                <td style="text-align:right">ISBN:</td>
                <td>{{ book.isbn }}</td>
            </tr>
            <tr>
                <td style="text-align:right">Year:</td>
                <td>{{ book.year }}</td>
            </tr>
        </table>
        <ul class="button-group radius right">
            <li><a class="button info" href="{% url 'index' %}">Back</a></li>
            <li><a class="button info" href="{% url 'edit' book.id %}">Edit</a></li>
            <li>
                <form method="POST" action="{% url 'destroy' book.id %}"
                      onsubmit="return confirm('Are you sure you want to delete this item?')">
                    {% csrf_token %}
                    <input type="submit" class="button info" value="Delete"/>
                </form>
            </li>
        </ul>
    </div>
{% endblock content %}
