{% extends "base_others.html" %}
	{% block content %}
      <div class="article">
	<h2><span>Top News</span></h2>
        <div class="clr"></div>
        <p class="post-data"><span class="date">{{ documents.published }}</span> &nbsp;|&nbsp; Posted by {{ documents.author }}</a> &nbsp;|&nbsp; Filed under <a href="/news/" target="_blank">News</a></p>
        <img src="{{ documents.docfile.url }}"width="279" height="238" alt="{{ documents.docfile.name }}" class="fl" />
        <p>{{ documents.title }}</p>
        <p>{{ documents.story|safe|truncatewords:"50"|linebreaks }}<p class="spec"> <a href="/news/{{ documents.id }}" class="rm">Read more</a></p></p>
        <br />
        <br />
        <br />
        <br />
        <br />
      <div class="pagenavi"><span class="pages"></span><a href="/news/" target="_blank">view more</a></div>
      </div>
	{% endblock %}

	{% block content2 %}
      <div class="article">
	<h2><span>Top Student News</span></h2>
        <div class="clr"></div>
        <p class="post-data"><span class="date">{{ students.published }}</span> &nbsp;|&nbsp; Posted by {{ students.author }}</a> &nbsp;|&nbsp; Filed under <a href="/students/" target="_blank">Students</a></p>
        <img src="{{ students.docfile.url }}" width="279" height="238" alt="{{ students.docfile.name }}" class="fl" />
        <p>{{ students.title }}</p>
        <p>{{ students.story|safe|truncatewords:"50"|linebreaks }}<p class="spec"> <a href="/students/{{ students.id }}" class="rm">Read more</a></p></p>
                <br />
        <br />
        <br />
        <br />
        <br />
      <div class="pagenavi"><span class="pages"></span><a href="/students/" target="_blank">view more</a></div>
      </div>
    </div>
	{% endblock %}

