{% extends "base_others.html" %}
	{% block content %}
        <div class="content" style="background: inherit;">
        {% for doc in documents %}
        <div class="article" style="width: 870px">
	    <h2><span>{{ doc.title }}</span></h2>
        <div class="clr"></div>
        <img src="{{ doc.docfile.url }}"width="459" height="378" alt="{{ doc.docfile.name }}" class="fl" />
        <p>{{ doc.story }}<p class="spec"> <a href="/news/{{ doc.id }}" class="rm">Read more</a></p></p>
        <br />
        <br />
        <br />
        <br />
        <br />
        <p class="post-data"><span class="date">{{ doc.published }}</span> &nbsp;|&nbsp; Posted by {{ doc.author }}</a></p>
        <div class="pagenavi"><span class="pages"></span>Thanks for reading</div>
        </div>
            {% endfor %}
              </div>
        <div class="fbg">
    <div class="col c1">
      <h2><span>Image Gallery</span></h2>
      <a href="#">
            <div class="pagenavi"><a href="#">view more</a></div></div>
    <div class="col c2">
      <h2><span>Policy & Safety</span></h2>
      <p>This site uses cookies to make your browsing experience more convenient and personal. <br />
        which can be found at. <a href="#" onclick="return myFunction2();">Policies</a>. By accessing this site, you consent to the use of cookies.</p>
        <p>In general, you can visit the Site without revealing any information about yourself. However, if you choose not to register on the Site you may not be able to use its features to their fullest extent</p>
    </div>
    <div class="col c3">
      <h2><span>About</span></h2>
      <p>The African Institute for Mathematical Sciences (AIMS) is a pan-African network of centres of excellence for postgraduate education, research and outreach in mathematical sciences.<a href=http://www.aims-tanzania.org/Default?pPage=P9IwlRBXBnfvOl4" target="_blank">Learn more...</a></p>
    </div>
    <div class="clr"></div>
  </div>
</div>
                <div class="footer" style="margin-bottom: 0px">
  <div class="footer_resize">
    <p class="lf">Copyright &copy; 2015 <a href="#">AIMS Tanzania</a> - All Rights Reserved</p>
    <p class="rf"><a href="/admin/" target="_blank">Manage Site</a></p>
    <div class="clr"></div>
  </div>
        </div>
	{% endblock %}
    {% block sidebar %}
    {% endblock %}
    {% block footer %}
    {% endblock %}