{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>AIMS-Tanzania</title>
<link rel="shortcut icon" href="{% static "web/css/images/logo.ico" %}" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static "web/css/style.css" %}"/>
<script type="text/javascript" src="{% static "web/js/jquery-1.3.2.min.js" %}"></script>
<script type="text/javascript" src="{% static "web/js/script.js" %}"></script>
<script type="text/javascript" src="{% static "web/js/cufon-yui.js" %}"></script>
<script type="text/javascript" src="{% static "web/js/arial.js" %}"></script>
<script type="text/javascript" src="{% static "web/js/cuf_run.js" %}"></script>
<script type="text/javascript" src="{% static "web/js/personal.js" %}"></script>
</head>
<body>
<!-- START PAGE SOURCE -->
<div class="main">
  <div class="header_block">
    <div class="header_resize">
      <div class="search">
        <form method="get" id="search" action="#">
          <span>
          <input type="text" value="" name="s" id="s" />
          <input name="searchsubmit" type="image" src="{% static "web/css/images/search.gif" %}" value="Go" id="searchsubmit" class="btn"  />
          </span>
        </form>
        <div class="clr"></div>
      </div>
      <div class="menu_nav">
        <ul>
          <li><a href="/index/">Home</a></li>
          <li><a href="/books/" target="_blank">Library</a></li>
          <li><a href="https://www.aims.ac.za/en/support/donate" target="_blank">Support</a></li>
          <li><a href="http://www.aims-tanzania.org/Default?pPage=P9IwlRBXBnfvOl4" target="_blank">About Us</a></li>
          <li><a href="http://www.aims-tanzania.org/Default?pPage=7SBU1ktaJLgoTM7" target="_blank">Contact Us</a></li>
        </ul>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="clr"></div>
  <div class="header">
    <div class="logo">
      <h1><a href="#"><span></span><small></small></a></h1>
    </div>
    <div class="clr"></div>
  </div>
  <div class="content">
    <div class="mainbar">
            <div class="mod">
		{% block content %}
		{% endblock %}
            </div>
		{% block content2 %}
		{% endblock %}
    <div class="sidebar">
		 {% block sidebar %}
      <div class="gadget">
        <h2 class="star"><span>See</span> Also</h2>
        <div class="clr"></div>
        <ul class="sb_menu">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="http://www.aims-tanzania.org/" target="_blank">Official Site</a></li>
          <li><a href="/students/" target="_blank">Student News</a></li>
          <li><a href="/archives/" target="_blank">Essay Archives</a></li>
          <li><a href="#" target="_blank">Library</a></li>
        </ul>
      </div>
      <div class="gadget">
        <h2 class="star"><span>Sponsors</span></h2>
        <div class="clr"></div>
        <ul class="ex_menu">
          <li><a href="http://www.aims.ac.za/" target="_blank">AIMS</a><br />
            African Institute for Mathematical Sciences</li>
          <li><a href="http://www.tanzania.go.tz/" target="_blank">Government of Tanzania</a><br />
            Support from the Tanzanian government</li>
          <li><a href="http://www.nexteinstein.org/" target="_blank">AIMS-NEI</a><br />
            Next Einstein Iniative</li>
        </ul>
      </div>
		{% endblock %}
    </div>
    <div class="clr"></div>
  </div>
  <div class="fbg">
    <div class="col c1">
		{% block footer %}
      <h2><span>Image Gallery</span></h2>
      <a href="#"><img src="{% static "web/css/images/pic1.jpg" %}" width="58" height="58" alt="" /></a> <a href="#">
            <img src="{% static "web/css/images/pic2.jpg" %}" width="58" height="58" alt="" /></a> <a href="#">
            <img src="{% static "web/css/images/pic3.jpg" %}" width="58" height="58" alt="" /></a> <a href="#">
            <img src="{% static "web/css/images/pic4.jpg" %}" width="58" height="58" alt="" /></a> <a href="#">
            <img src="{% static "web/css/images/pic5.jpg" %}" width="58" height="58" alt="" /></a> <a href="#">
            <img src="{% static "web/css/images/pic6.jpg" %}" width="58" height="58" alt="" /></a>
            <div class="pagenavi"><a href="https://drive.google.com/drive/my-drive">view more</a></div></div>
    <div class="col c2">
      <h2><span>Policy & Safety</span></h2>
      <p>This site uses cookies to make your browsing experience more convenient and personal. <br />
        which can be found at. <a href="#" onclick="return myFunction2();">Policies</a>. By accessing this site, you consent to the use of cookies.</p>
        <p>In general, you can visit the Site without revealing any information about yourself. However, if you choose not to register on the Site you may not be able to use its features to their fullest extent</p>
    </div>
    <div class="col c3">
      <h2><span>About</span></h2>
      <p>The African Institute for Mathematical Sciences (AIMS) is a pan-African network of centres of excellence for postgraduate education, research and outreach in mathematical sciences.<a href=http://www.aims-tanzania.org/Default?pPage=P9IwlRBXBnfvOl4" target="_blank">Learn more...</a></p>
    </div>
    <div class="clr"></div>
  </div>
</div>
<div class="footer">
  <div class="footer_resize">
    <p class="lf">Copyright &copy; 2015 <a href="#">AIMS Tanzania</a> - All Rights Reserved</p>
    <p class="rf"><a href="/admin/" target="_blank">Manage Site</a></p>
    <div class="clr"></div>
  </div>
</div>https://drive.google.com/drive/my-drive
		{% endblock %}

<!-- END PAGE SOURCE -->
</body>
</html>
