{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>{% block title %}{% endblock title %}</title>
    {% block head %}
    {% endblock head %}
  </head>
  <body>
    <div class="contain-to-grid fixed">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><img src="{% static 'img/logo.png' %}" /><a href="/books">AIMS Library</a></h1>
          </li>
        </ul>
      </nav>
    </div>
    <div class="row container">
      {% block content %}
      {% endblock content %}
    </div>
    <script type="text/javascript" src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/foundation.min.js' %}"></script>
    <script type="text/javascript">
      {% block scripts %}
      {% endblock scripts %}
    </script>
  </body>
</html>
